files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/health.log.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/eb-engine.log
      /var/log/eb-hooks.log
      /var/log/nginx/access.log
      /var/log/nginx/error.log

option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7



